body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 200vhx;
    width: 220vh;
    border:  5px solid black;
    
}

img{
    width: 600px;
    height:300px;
    display: block;
    text-align: center;
    margin-top: 150px;
    margin-left: 430px;
}
.btn{
    
    background-image:linear-gradient(to right, yellow, green);
    width: 600px;
    height: 60px;
    margin-left: 430px;
    font-size: 20px;
    color: white;
    margin-bottom: 180px;
}